<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Romit Patel Website</title>
        <link rel = "stylesheet" href= "/static/css/style.css">
     </head>
     <body>
        <div class = "top">
            <div class="Logo"> 
                <a href = "/"> <img src = "/images/Instagram_logo_2016.png" alt = "Insta485GRAM Logo" style="width: 100%;height:100%;"> </a> 
            </div>
            <div class="Site_name"> 
                Insta485
            </div>
            <div class="right"> 
                   <a href = "/explore/">explore</a>
                   <a href = "/users/awdeorio/">awdeorio</a>
             </div>
         </div>
         <div class= "center">
             <h1 style="font-size: 50px;">awdeorio </h1>
           2 posts <b><a class = "follow" href="/users/awdeorio/followers/"> 2 followers </a></b> <b> <a class = "follow" href="/users/awdeorio/following/"> 2 following</a></b>
           <h3>Andrew  DeOrio</h3>
           <div class= "insta_image">
           <a href="/posts/1/"> <img src = "/uploads/122a7d27ca1d7420a1072f695d9290fad4501a41.jpg"  alt = "awdeorio photo2" style="width: 33%;"></a> 
           <a href="/posts/3/"><img src = "/uploads/9887e06812ef434d291e4936417d125cd594b38a.jpg"  alt = "awdeorio photo1" style="width:33%;"> </a>
           </div>
         </div>
    </body>
</html>