.Home {
  background: linear-gradient(to bottom, #394347 0%, #000000 100%);
  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  }
.Home > .home-body {
  height: 50%;
  width: 100%;
  }
.home-body > .Text-info {
  height:50%;
  width: 50%;
  position: absolute;
  left: 35%;
  text-align: center;
  display: inline-block;
}
p {
  color: antiquewhite;
  display: inline-block;
}
.home-body > img {
  position: left;
}